# Node modules
node_modules/

# Tệp môi trường
.env

# Các tệp log
*.log

# Thư mục chứa mã QR của khách hàng
src/public/qrs/

# Thư mục build
dist/
build/

# Các tệp hệ thống
.DS_Store
Thumbs.db
